@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@import "tailwindcss";
@plugin "daisyui";
  
@custom-variant dark (&:where(.dark, .dark *));
html body{
  font-family: "Poppins", "sans-serif";
  transition: background-color 0.4s ease, color 0.4s ease;
}